body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#f4f4f4;
}

.container{
    text-align:center;
    margin-top:150px;
}

h1{
    color:#333;
}

p{
    color:#666;
    font-size:18px;
}

button{
    padding:12px 25px;
    border:none;
    background:blue;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:darkblue;
}